@tailwind base;

@tailwind components;

@tailwind utilities;

@keyframes fadein {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0px);
    }
}

html, body, #app {
    height: 100%;
    width: 100%;
    margin: 0px;
    display: flex;
    flex-direction: column;
}

#spinner {
    background: url('assets/svg/gears.svg') no-repeat fixed center;
    height: 100%;
}